body {
  background: #000;
  color: #ccc;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  user-select: none;
}

/* Transparent static noise overlay */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif');
  background-size: cover;
  opacity: 0.005;
  mix-blend-mode: screen; /* makes it blend into black */
  pointer-events: none; /* don't block clicks */
}
.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding-bottom: 100px;
}

/* Header layout: text left, logo right */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* align everything from left */
  gap: 40px; /* adjust spacing between text and logo */
  margin-bottom: 40px;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 5em;
  font-weight: bold;
  color: #ccc;
  letter-spacing: 2px;
  text-shadow: 
    1px 0 rgb(83, 4, 129), 
    -1px 0 rgb(163, 1, 1), 
    0 1px rgb(0, 41, 128);
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% { text-shadow: 2px 0 red, -2px 0 blue; }
  25% { text-shadow: -2px 0 red, 2px 0 blue; }
  50% { text-shadow: 2px 2px red, -2px -2px blue; }
  75% { text-shadow: -2px 2px red, 2px -2px blue; }
  100% { text-shadow: 2px 0 red, -2px 0 blue; }
}

.subtitle {
  margin-top: -20px;
  margin-left: 215px;
  font-size: 1.3em;
  color: #7a0abb;
}

.logo img {
  width: 180px; 
  height: auto;
}

.line {
  margin: -40px 0;
  font-size: 1.1em;
  letter-spacing: 2px;
  text-align: left;
}

#typing-line {
  margin-top: 45px;
  font-size: 1.2em;
  letter-spacing: 5px;
}

.status-label {
  min-width: 95px;
  display: inline-block;
  font-weight: bold;
}

.ok    { color: #39ff14; }
.fail  { color: #FF2222; }

.status-text {
  color: #ccc;
  white-space: pre;
}

.cursor {
  display: inline-block;
  width: 10px;
  color: #ccc;
  animation: blink 1s steps(1) infinite;
  font-weight: bold;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
}

/* Fade-out effect */
.fade-out {
  animation: fadeOut 1s forwards; /* 1s fade */
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }

}
